body {
  background-color: #222831;
  color: #EEEEEE;
}

hr {
  border-color: #393E46;
  border-style: dotted none none none;
  border-width: 10px;
  width: 5%;
}

h1, h3 {
    color: #00ADB5;
}

img {
  height: 200px;
}
